.paginate ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	list-style: none;
	padding: 0;
	font-weight: 700;
	padding: 8px;
}

.paginated ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	list-style: none;
	padding: 0;
	font-weight: 700;
	padding: 8px;
}

.paginate li > a {
	border: 1px solid #eae9f2;
	padding: 6px 14px;
	border-radius: 5px;
}

.paginated li > a {
	border: 1px solid #eae9f2;
	padding: 6px 14px;
	border-radius: 5px;
}

@media screen and (max-width: 480px) {
	.paginate {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.paginate ul {
		padding: 4px;
		width: 400px;
		justify-content: flex-start;
	}
	.paginated ul {
		justify-content: center;
	}
}
